__pycache__/
*.py[cod]
.venv/
venv/
node_modules/
frontend/
.idea/
.vscode/
.git/
.gitattributes
.gitignore
.pytest_cache/
.mypy_cache/
.ruff_cache/
.env
.env.*
*.log
tests/
.githooks/
.pre-commit-config.yaml
Dockerfile
.dockerignore
*.md
LICENSE
